/* Stylesheet for Online Portfolio Page */

/* keyframes */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Top Title/Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #47BA9B;
  opacity: 70%;
  -moz-animation: fadein 5s;
}

.headerTitle {
  display: block;
  color: #F4F6F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Profile Photo */
.photoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    -moz-animation: fadein 5s;
}
.mainPhoto {
    border-radius: 20%;
    width: 200px;
}

/* Short Intro Section */
.introBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.introBox #introHeading {
  padding: 0px;
  border: 10px;
  margin: 10px;
}

.introBox #introBody {
    width: 65%;
    padding: 20px;
    margin: 0px;
    border-radius: 3%;
    background-color: #F4F6F2;
}

/* Contact Me Section */
.contactBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation-delay: 4s;
}

#contactHeading {
  padding-top: 20px;
  margin: 5px;
}

#contactList {
  text-align: center;
  width: 20%;
  border-radius: 3%;
  background-color: #F4F6F2;
}

/* Resume Download Button */
.downloadBox {
  margin: 10px;
  color: #47BA9B;
  opacity: 70%;
}

/* Update Box */
.updateBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.updateMsg {
  color: #f44336;
  background-color: #f4f6f2;
  opacity: 70%;
  width: 40%;
  text-align: center;
  border-radius: 3%;
}


* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

/* Masonry Board */

.grid {
  -moz-column-count: 1;
       column-count: 1;
  -moz-column-gap: 20px;
       column-gap: 20px;
  -moz-column-fill: balance;
       column-fill: balance;
  margin: 20px auto 0;
  padding: 2rem;
}

.grid-item {
  display: inline-block;
  margin: 0 0 20px;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  width: 100%;
}

.grid-item:hover {
  opacity: .7;
  transform: scale(1.01);
}

.grid .grid-item img {
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  .grid {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (min-width: 900px) {
  .grid {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media (min-width: 1200px) {
  .grid {
    -moz-column-count: 4;
         column-count: 4;
  }
}