ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #47BA9B;
  opacity: 70%;
  -moz-animation: fadein 3s;
}

.headerTitle {
  display: block;
  color: #F4F6F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.photoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.mainPhoto {
    border-radius: 80%;
    width: 200px;
}

.introBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.introBox #introHeading {
  padding: 0px;
  border: 10px;
  margin: 10px;
}

.introBox #introBody {
    width: 65%;
    padding: 20px;
    margin: 0px;
    border-radius: 10%;
    background-color: #F4F6F2;
}

.contactBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contactHeading {
  padding-top: 20px;
  margin: 5px;
}

#contactList {
  text-align: center;
  width: 20%;
  border-radius: 10%;
  background-color: #F4F6F2;
}

.downloadBox {
  margin: 10px;
  color: #47BA9B;
  opacity: 70%;
}