/* Stylesheet for Online Portfolio Page */

/* keyframes */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Top Title/Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #47BA9B;
  opacity: 70%;
  -moz-animation: fadein 5s;
}

.headerTitle {
  display: block;
  color: #F4F6F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Profile Photo */
.photoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    -moz-animation: fadein 5s;
}
.mainPhoto {
    border-radius: 20%;
    width: 200px;
}

/* Short Intro Section */
.introBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.introBox #introHeading {
  padding: 0px;
  border: 10px;
  margin: 10px;
}

.introBox #introBody {
    width: 65%;
    padding: 20px;
    margin: 0px;
    border-radius: 3%;
    background-color: #F4F6F2;
}

/* Contact Me Section */
.contactBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contactHeading {
  padding-top: 20px;
  margin: 5px;
}

#contactList {
  text-align: center;
  width: 20%;
  border-radius: 3%;
  background-color: #F4F6F2;
}

/* Resume Download Button */
.downloadBox {
  margin: 10px;
  color: #47BA9B;
  opacity: 70%;
}

/* Update Box */
.updateBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.updateMsg {
  color: #f44336;
  background-color: #f4f6f2;
  opacity: 70%;
  width: 40%;
  text-align: center;
  border-radius: 3%;
}

.photoBoard{
  display: flex;
  align-items: center;
  flex-direction: column;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  margin-top: 20px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid-item:hover{
  opacity: 70%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
